.gradient-text-button {
	background: linear-gradient(90deg, #00D1CF 0%, #0099C4 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 14px;


	text-align: center;
	cursor: pointer;
	transition: background 0.3s ease, border-color 0.3s ease;
}

.plm-section1 {
	background-image: url('./../img/features-hero.png'), #EAF6F7;
	background-position: right top;
	background-repeat: no-repeat;
	background-size: 650px;
	padding-top: 40px !important;

}

.visibility-hidden {
	visibility: hidden;

}

.plm-section {

	background: #EAF6F7;
	color: #333;
	position: relative;
	padding-top: 40px !important;
}

.plm-section .container .row.align-items-center.flex-md-row {
	justify-content: space-between;
	margin-bottom: 33px !important;
}

.plm-text-content {

	padding-right: 60px !important;
}

.plm-subtitle {
	font-size: 20px;
	color: #555;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.plm-main-heading {
	font-size: 60px;
	font-weight: bold;
	line-height: 1.2;
	font-family: "brandon", sans-serif;
	color: #333;
	margin-bottom: 0;
}

.plm-description {
	font-size: 20px;
	color: #333333;
	margin-top: 20px;
	margin-bottom: 20px
}

.feature-main-heading {
	font-size: 65px;
	font-weight: bold;
	line-height: 1.2;
	font-family: "brandon", sans-serif;
}

.feature-sub-heading {
	font-size: 43px;
	font-weight: bold;
	line-height: 1.2;
	font-family: "brandon", sans-serif;
}

.plm-main-heading .plm-highlight {
	color: #ff6d01;
	/* Bright orange color */
}





.plm-image-container {
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	height: 100%;

}

.plm-main-image {
	width: 100%;
	height: auto;
	border-radius: 10px;
	position: relative;
	right: -30px;
}

.help-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: left;
}


.help-card-image img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}

.help-card-title {
	font-size: 20px;
	font-weight: bold;
	color: #333;
	width: 100%;
	text-align: left;
	font-family: "brandon", sans-serif;
}

.help-card-second-title {
	font-size: 47px;
	line-height: 1.2;

	width: 100%;
	text-align: left;
	font-family: "brandon", sans-serif;
	margin-top: 4px;
	margin-bottom: 10px;
}

.help-card-text {
	font-size: 18px;
	color: #333;
	line-height: 1.6;
}


.ser-section {
	background-color: #f8f9fa;
	padding-top: 80px;
	padding-bottom: 40px;
}

.ser-title {
	font-size: 24px;
	font-weight: bold;
	color: #333;
}

.ser-row {
	justify-content: center;
	padding: 5px 0;
}

.ser-img {
	border-radius: 10px;
	transition: transform 0.3s ease;
	/* Add animation for hover */
}

.ser-img:hover {
	transform: scale(1.05);
	border-radius: 10px;
	/* Slight zoom effect on hover */
}

.ser-text {
	font-family: 'brandon';
	font-size: 20px;
	line-height: 24px;
	color: #333;
	margin-top: 10px;
}

.carousel-control-prev i,
.carousel-control-next i {
	color: black;
	font-size: 15px;
}

.carousel-control-prev,
.carousel-control-next {
	width: 5px;
}

.tools-section {
	background-color: #f8f9fa;
	padding-top: 80px;
	padding-bottom: 80px;
}

.tools-section .reviews_heading {
	margin-bottom: 20px;
}

.tools-section .row.g-4 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	flex-wrap: wrap;
	max-width: 1050px;
	margin: 0 auto !important;
}

.tools-title {
	font-size: 28px;
	font-weight: bold;
	color: #333;
	margin-bottom: 40px;
}

.tools-subtitle {
	font-size: 16px;
	color: #555;
}

.tools-card {
	display: flex;
	justify-content: center;
	align-items: center;
}

.tools-card-inner {
	border-radius: 15px;

	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tools-card-inner:hover {
	transform: scale(1.05);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.tools-image {
	max-width: 100%;
	height: auto;
}

.bg-form-plm {
	margin: 30px 20px;
	padding: 25px;
	background-color: #ffffff;
	border-radius: 13px;
}

.tools-mbl-section {
	background-color: #f8f9fa;
}

.tools-mbl-slider-wrapper {
	overflow: hidden;
	position: relative;
}

.tools-mbl-slider {
	display: flex;
	gap: 16px;
}

.tools-mbl-slider:first-child {
	animation: tools-mbl-slide-right-to-left 15s linear infinite;
}

.tools-mbl-slider-wrapper:nth-child(2) .tools-mbl-slider {
	animation: tools-mbl-slide-left-to-right 15s linear infinite;
}

.tools-mbl-card {
	flex: 0 0 auto;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 150px;
}

.tools-mbl-image {
	max-width: 170px;
	width: 100%;
	height: auto;
	display: block;
	border-radius: 8px;
}

@keyframes tools-mbl-slide-right-to-left {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-100%);
	}
}

@keyframes tools-mbl-slide-left-to-right {
	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(0);
	}
}

.why-us-heading-resp {
	padding: 20px 0px;
	line-height: 1.3;
	font-weight: bolder;
}

.head-feature-whitepaper {
	font-size: 40px;
	font-weight: bolder;
}

@media (max-width: 1300px) {

	.help-card-second-title,
	.head-feature-whitepaper {
		font-size: 35px;
		line-height: 1.3;
	}

	.help-card-text {
		font-size: 16px;
	}

	
}

@media (max-width: 767px) {

	.w-full-mobile {
		width: 100% !important;
	}

	.plm-section1 {
		background-image: url('./../img/features-hero.png'), #EAF6F7;
		background-position: right top;
		background-repeat: no-repeat;
		background-size: 350px;
	}

	.head-feature-whitepaper {
		font-size: 25px;
		font-weight: bolder;
	}


	.feature-main-heading {
		font-size: 30px;
	}

	.plm-section {
		text-align: center;
		padding-top: 0 !important;
	}

	.plm-buttons {
		justify-content: center;
	}

	.plm-main-image {
		top: 0;

		max-width: 100%;
	}

	.plm-text-content {
		padding-inline-start: 0px;
		text-align: center !important;
	}

	.erp_drop {
		padding-top: 10px;

	}

	.plm-hero-pad {
		padding-block: 30px;
	}

	.plm-col-rev {
		flex-direction: column-reverse;
	}

	.data-pad {
		margin-bottom: 25px;
	}

	.frew_content_area {
		border-top: 0 !important;
		border-left: 5px solid #EFA64A !important;
		text-align: center;
	}

	.why-us-heading-resp {
		padding: 20px 0px 10px 0px;
		line-height: 40px;
		font-weight: bolder;
	}

	.bg-form-plm {
		margin: 10px 5px;
		padding: 16px;
	}

	.erp-section {
		text-align: center !important;
		background-color: #F8F9FB;
	}

	.global-btn,
	.blobal-second-btn,
	.action_choose {
		font-size: 16px;
		line-height: 22px;
		padding: 0;
		display: flex;
		margin-left: 0 !important;
	}

	.plm-buttons {
		gap: 8px;
	}

	.action_choose {
		justify-content: center;
		align-items: center;
		max-width: 100% !important;
		width: 100% !important;
	}

	.why_choose_section .action_choose,
	.customerReview .action_choose {
		margin: 0 auto !important;
		max-width: 100%;
	}

	.plm-section .container .row.align-items-center.flex-md-row {
		margin-bottom: 0 !important;
	}

	.help-card-second-title {
		font-size: 32px;
		line-height: 42px;
		margin-bottom: 16px;
		margin-top: 16px;
	}

	.help-card-text {
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 0;
	}

	.help-section .row.g-4 {
		gap: 50px;
	}

	.ser-section {
		padding-top: 40PX;
		padding-bottom: 40px;
	}

	.why_choose_heading {
		font-size: 32px;
		line-height: 38px;
		padding: 0;
		margin-bottom: 20px;
	}

	.reviews_arear .reviews_heading {
		margin-bottom: 20px !important;
	}

	.reviews_arear .row.py-5 {
		padding-top: 40px !important;
		padding-bottom: 0 !important;
	}

	.tools-subtitle {
		margin-bottom: 20px !important;
	}

	.free_whitepapers_area .bg-form-plm .signup-form-btn {
		margin: 0 auto !important;
	}
}